<h4 class="text-center">Login</h4>

<form 
  class="form mt-4" 
  [formGroup]="login"
  (submit)="submit($event)">

    <div class="form-group">
        <input 
            class="form-control" 
            placeholder="usuário" 
            formControlName="email"
            autofocus>  
        <app-form-error-message 
          *ngIf="login.get('email').errors?.required">
          nome do usuario é obrigatorio
        </app-form-error-message>
        <app-form-error-message 
          *ngIf="login.get('email').errors?.email">
          nome do usuario é email
        </app-form-error-message>
    </div>

    <div class="form-group">
        <input
            type="password" 
            class="form-control" 
            formControlName="senha"
            placeholder="senha">              
            <span 
            class="text-danger d-block mt-2"
            *ngIf="login.get('senha').errors?.required">nome do usuario é um e-mail</span>
    </div>

    <button 
        type="submit" 
        [disabled]="login.invalid || isBusy"
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Nao tem usuário? <a routerLink="/sign-up">Cadastre-se</a></p>